<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Tikape foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>TiKaPe foorumi</h1>
        <hr/>
        
        <h2>Aihealueet</h2>
        
        <table class="table"> 
            <tr>
                <th>Alue</th>
                <th>Viestejä yhteensä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="aihe: ${aihealueet}">
                <td><a th:href="${'/aihealue/' + aihe.id}" th:text="${aihe.nimi}">aihealueen nimi</a></td>
                <td th:text="${aihe.viesteja}">0</td>
                <td></td>
            </tr>
        </table>
    </body>
</html>