<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <a href="/"><h1>TiKaPe foorumi</h1></a>
        <hr/>
        <h2 th:text="${aihealue.nimi}">aihealue</h2>

        <ul th:each="k: ${keskustelunavaukset}">
            <li><a th:href="${'/aihealue/' + aihealue.id + '/keskustelu/' + k.id}" th:text="${k.aihe}">aihealueen nimi</a></li>
        </ul>
    </body>
</html>