<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head th:replace="fragments/head :: head">
        <title>TiKaPe foorumi</title>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar">...</nav>
        <div class="container">

            <a th:href="${'/aihealue/' + aihealue.id}"><h2 th:text="${aihealue.nimi}">aihealue</h2></a>
            <hr/>
            <h4 th:text="${keskustelunavaus.aihe}">keskustelu</h4>
            <p th:text="${keskustelunavaus.viesti}">aloitusviesti</p>
            <p th:text="${keskustelunavaus.timestamp}">päivä ja aika<br />
                <span th:text="${keskustelunavaus.nimimerkki}">nimimerkki</span>
            </p>

            <div th:each="v: ${viestit}">
                <hr />
                <p>
                    <span th:text="${v.viesti}">viesti</span>
                </p>
                <p>
                    <span th:text="${v.timestamp}"></span><br/>
                    <span th:text="${v.nimimerkki}"></span>
                </p>
                
            </div>
            <hr />
            <h2>Lisää viesti</h2>
            <form>
                Viesti: <textarea name="viesti" rows="6" cols="50"></textarea><br/>
                Nimimerkki: <input type="text" name="nimimerkki"/><br/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>
